{% extends 'base.html' %}

{% block content %}

<div class="rows">
  <div class="row has-text-centered has-text-white" style="margin-bottom: 15px;">
    <p> Prediction </p>
     <ul>
      {% for (text, score) in predictions %}
        <li> {{ text }} - {{ "{:.2f}".format(score * 100) }}% </li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">
    <figure class="image">
        <img src="{{ image_path }}" style="max-width: 800px;" height="auto">
    </figure>
  </div>
  <div class="row has-text-centered" style="margin-top: 10px">
    <a class="button is-primary" href={{ url_for("upload") }}>Back</a>
  </div>
</div>
{% endblock %}