{% extends 'base.html' %}

{% block content %}

<div class="rows">
  <div class="row" style="padding-bottom: 15px;">
      <p class="has-text-centered has-text-white">
        ALPR for Uganda license plates 
      </p>
  </div>
  <div class="row">
    <form role="form" method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
      <div class="field has-addons has-addons-centered">
          <div class="control">
            <div id="image-file" class="file has-name">
              <label class="file-label">
                <input class="file-input" type="file" name="file">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name has-background-white">
                      No file uploaded
                  </span>
              </label>
              </div>
          </div>
          <div class="control">
              <button id="predict" type="submit" class="button is-success">Predict</button>
          </div>
      </div>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="has-text-centered has-text-danger">
            {{ message }}
          </p>
        {% endfor %}
      
      {% endif %}
    {% endwith %}
  </div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}